PyDownloader/.vs/PyDownloader/v15/.suo
PyDownloader/.vs/VSWorkspaceState.json
PyDownloader/.vs/slnx.sqlite
PyDownloader/.vs/ProjectSettings.json
PyDownloader/.idea/workspace.xml
PyDownloader/pydownloader.ini
PyDownloader/test.zip
PyDownloader/pydownloader2.ico
PyDownloader/__pycache__/usp_appsettings.cpython-34.pyc
PyDownloader/__pycache__/usp_appsettings.cpython-34.pyc
PyDownloader/__pycache__/appsettings_module.cpython-34.pyc
PyDownloader/pydownloader.ico
